/* css reset */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'MuseoModerno', cursive;
    height: 600px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    /* font-family: 'Sriracha', cursive; */
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* body */
  

  /* heading styling */
  #heading{
    text-align: center;
    margin: 20px auto;
    display: none;
  }

  /* gameGrid styling */
  .container{
    margin: 0px auto;
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    /* display: none; */
  }


  .square{
    border: 1px solid black;
    padding: 20px;
    
  }

  /* player styling */
  .player{
    margin: 50px;
    position: relative; 
    bottom: 500px;
  }


  /* popupForm styling */
.popupForm{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 200px;
  max-width: 80%;
}

.modalHeader{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modalHeader .title{
  font-size: 1.25rem; 
  font-weight: bold;
}

.modalHeader .closeBtn{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;

}

.modalBody{
  padding: 20px 15px;
  /* margin-top: 5px; */
}

.modalBody .pLabel {
  display: inline-block;

}

.modalBody .startGame{
  margin: 15px auto 0px auto;
  text-align: center;
}

#overlay{
  position: fixed;
  /* opacity: 0; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  pointer-events: none;
}

#overlay.active{
  pointer-events: all;
  opacity: 1;
}